.my-container {
  /*border: 1px solid yellow;*/
}

.my-row_1 {
  /*border: 1px solid red;*/
  height: auto;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("background_header.png");
  font-variant: small-caps;
}

.my-row_2 {
  height: 5px;
}

.my-row_3 {
  height: 10px;
  background: linear-gradient(70deg, white, darkgreen);
}

@media (min-width: 1000px) {
  body {
    background-image: white;
  }
  .my-row_1 {
    font-size: 14pt
  }
}

@media (max-width: 999px) {
  body {
    background-color: grey;
  }
  .my-row_1 {
    font-size: 10pt
  }
}

.btn-primary {
  background-color: darkgreen;
  border-color: grey;
  width: 100px;
  font-variant: small-caps;
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
}

#table_additionalinformation {
  width: 100%;
}

th, td {
  border: 0.5px solid black;
  padding: 2px 2px 0px 5px;
}

#footer {
  font-size: 7pt;
  color: grey;
  text-align: center;
}

.btn-secondary {
  background-color: lightgrey;
}

.my-col {
  /*border: 1px solid green;*/
  background-color: lightgrey;
}

.my-row_4 {
  height: auto;
  padding: 10px;
  background-color: lightgrey;
  font-size: 10pt;
  font-weight: bold;
}

.my-row_5 {
  /*border: 1px solid blue;*/
  height: 200px;
  padding: 10px;
  background-color: lightgrey;
  font-size: 10pt;
  text-align: justify;
}